#navbar {
    width: 100%;
    height: 55px;
    background-color: darksalmon;
    display: flex;
    justify-content: space-between;
    
}
#nav-title {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    color: white;
    font-family: cursive;

    overflow: hidden;
	margin: 0px;
}
#navbar-gift-right {
    display: flex;
    max-width: 100%;
    max-height: 100%;    
    justify-content: flex-end;
    
}

#Snoopy img{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
}
p {
    line-height: 2em;
    text-align: center;
    color: darksalmon;
    
}

.months {
    display: flex;
    background: darksalmon;
  
    justify-content: space-between;
    padding: 0px 100px;
    margin: 15px 15px;
    align-items: center;
}
.monthdisplay{
    border: none;
    text-align: center;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    
    color: black;
    border: 2px solid salmon; 
    

}

.calendar {
    

    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}
.calendar > div {
    flex: 1;
    border-width: 2px;
    border-style: solid;
    border-radius: 5%;

    
    background: antiquewhite;
    padding: 20px;
}
.calendar > div::before {
    content: "";
    padding-bottom: 100%;
    display: block;
  }


/* examples from class
p {
    line-height: 2em;
    text-shadow: 3px 3px orange;
}
h2 {
    text-align: right;
}
a {
    text-decoration: line-through;
}
#title {
    background-color: yellow;
}
*/